.section--container--close {
    padding: 20px;
    margin-left: 5%;
    background-color: #f2f2f2;
    height: 100vh;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px repeat(3, 150px) 50px;
    /*align-items: center;*/
    column-gap: 1em;
    row-gap: 1em;
    overflow: auto;
}
.contenedor-aprendiz,
.contenedor--estado,
.contenedor--edad{
    margin-top: 60px;
}

.contenedor--boton{
    margin-top: 100px;
    display: inline-block;
}
.button--aceptar{
    display: block;
    padding: 10px 300px;
    border: 1px solid #25d366;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background: #25d366;
    color: #fff;
    border: 1px solid #000;

}

.contenedor--formulario {
    width: 70%;
    height: 60%;
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.header--configperfil {
    margin-top: 80px;
    position: relative;
    padding: 10px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    background: #685fde;
    width: 70%;
    max-height: 150px;
    border: 1px solid #000;

  }
  


  

  