*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family:'Source','Sans','Pro',sans-serif;
}
body{
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    align-self: center;
}

.contenedorNombreperfil{
    display: flex;
    justify-content: center;
    background: #685FDE;
    color: #ffffff;
    width: 95%;
    height: 184px;
    align-items: center;
}
.contenedorInfoPerfil{
    display: flex;
    flex-wrap:wrap;
    align-content: space-between;
    color: #000000;
    width: 50%;
    height: 184px;
    margin-top: 10px;
    margin-left: 500px;
    font-size: 19px;
}
.TecnicoTurismo{
    background: salmon;
    margin-right: 30px;
    height: 50px;
    width: 40%;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
input{
    width: 95%;
    height: 50px;
    background: #ffffff;
    border: #28A745 1px solid;
    color: #28A745;
    outline: none;
}
input:hover{
    color: #ffffff;
    background: #28A745;
}